<style>
    img.sidebarlogo
    {
        width: 220px;
        margin-top: 10px;
    }
</style>
<hr />
@Html.Partial("_SocialLinks")

<a href="https://mvp.microsoft.com/en-us/PublicProfile/5002565" target="_NEWWINDOW">
    <img src="images/msft_mvp.png" class="sidebarlogo" />
</a>
<img src="images/xammvp.png" class="sidebarlogo" />
<a href="https://www.dotnetfoundation.org/"  target="_NEWWINDOW">
    <img src="images/dotnetfoundation_v4.png" class="sidebarlogo" />
</a>
<a href="https://www.planetxamarin.com"  target="_NEWWINDOW">
    <img src="images/planetxamarin-featured-badge.png" class="sidebarlogo" />
</a>
<a class="twitter-timeline" data-width="240" data-height="400" href="https://twitter.com/allanritchie911?ref_src=twsrc%5Etfw">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>