<ul class="list-unstyled">
    <li><a href="https://github.com/aritchie" target="_NEWWINDOW"><i class="fa fa-github"></i> GitHub (aritchie)</a></li>
    <li><a href="https://twitter.com/allanritchie911" target="_NEWWINDOW"><i class="fa fa-twitter"></i> Twitter (allanritchie911)</a></li>
    <li><a href="https://www.linkedin.com/in/allan-ritchie-44b58b3/" target="_NEWWINDOW"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://twitch.tv/allancritchie" target="_NEWWINDOW"><i class="fa fa-twitch"></i> Twitch</a></li>
    <li><a href="https://www.youtube.com/channel/UCm9LXurDZHVT8r2-ipttXoQ" target="_NEWWINDOW"><i class="fa fa-youtube"></i> YouTube</a></li>    
    <li><a href="mailto:allan.ritchie@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
</ul>